# Packages and OS files
Thumbs.db
Desktop.ini
.DS_Store

# PHP / Composer
vendor/
composer.lock
.phpunit.result.cache

# Docker
db_data/
mysql/

# Config files (if any local sensitive info)
config/config.local.php
.env

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
